*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
html, body {
    width: 100%;
    height: 100%;
} 
header {
    display: flex;
    justify-content: space-between;
    background-color: #0058A5;
}
header img{
    width: 100%;
    max-width: 100px;
   
}
header p {
    color: white;
    margin: auto 80px;
}
.header-banner {
    display: flex;
    padding: 10px 50px;
    gap: 80px;
    color: white;
}
.nav-logo {
    padding-top: 50px;
    width: 100%;
    max-width: 200px;
    background-color: #1A2A47;
    height:  calc(100vh - 57px);
}
.nav-logo i {
    font-size: 20px; 
    vertical-align: middle; 
    margin-right: 22px; 
    
}
a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    transition: background 0.3s;
}
ul li {
    padding: 8px 10px;
    margin-top: 15px;
}

ul li:hover {
    background-color: #175659;
}
