*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #0058A5;
}

header img{
    width: 100%;
    max-width: 100px;
}

header p {
    color: white;
    margin: auto 80px;
}

.header-banner {
    display: flex;
    padding: 10px 50px;
    gap: 80px;
    color: white;
}


.nav-logo {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
    width: 100%;
    max-width: 200px;
    background-color: #1A2A47;
    height: calc(100vh - 57px);
}

.nav-logo ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.nav-logo li {
    margin-top: 15px;
}


.nav-logo li a {
    display: flex;          
    align-items: center;
    gap: 10px;              
    text-decoration: none;
    color: white;
    padding: 12px 16px;     
    width: 100%;             
    box-sizing: border-box;  
    transition: background 0.3s;
}


.nav-logo li a:hover {
    background-color: #175659;
}

/* Active: ocupa todo el ancho y se ve resaltado */
.nav-logo li a.active {
    background-color: #175659;
    color: white;
}

/* Íconos dentro del enlace */
.nav-logo i {
    font-size: 20px; 
}

.main-container {
    display: flex; /* sidebar + contenido en fila */
    height: calc(100vh - 57px); /* altura total menos header */
}

.nav-logo {
    width: 200px; /* ancho fijo del sidebar */
}

.tab-container {
    flex: 1; /* ocupa todo el espacio restante */
    padding: 20px;
    background-color: #f0f0f0;
    overflow-y: auto;
}

/* Tabs */
.tab {
    display: none;
}

.tab.active {
    display: block;
    position: relative;
}

/* Columnas dentro de la pestaña activa */
.principal-informacion {
    display: flex;
    gap: 20px;
}

.principal-informacion .column {
    flex: 1;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}